Source: dropbox-app
Section: admin
Priority: standard
Maintainer: Niv Sardi <xaiki@endlessm.com>
Build-Depends: debhelper (>= 9),
	dh-autoreconf,
	intltool
Standards-Version: 3.8.0
Homepage: http://www.endlessm.com
XCBS-EOS-AppId: dropbox-app

Package: dropbox-app
Architecture: all
Depends: ${misc:Depends}
Description: Dropbox wrapper application
 Small package to contain the "client side" bits of the
 Dropbox application (launcher script)
